<div id="{{prefix}}-Container">

    <table>
        <thead>
        <tr>
            <td>Theme</td>
            <td>Settings</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="{{prefix}}-ThemeList">
                {{#each themes}}
                    <div class="theme-list-state{{#if_eq @key ../settings.theme}} selected{{/if_eq}}" data-for="{{@key}}">
                        <input type="radio" name="theme" id="rd-{{this.name}}"
                               onchange="{{../plugin}}.switchTheme('{{@key}}')"
                               {{#if_eq @key ../settings.theme}}checked{{/if_eq}}
                        />
                        <label for="rd-{{this.name}}">
                            <img style="width:100px" src="{{this.preview}}" alt="Preview"><br>
                            {{this.name}}
                        </label>
                    </div>
                {{/each}}
            </td>
            <td>
                <fieldset>
                    <legend>Variants</legend>
                    <div id="{{prefix}}-ThemeVariants"></div>
                </fieldset>
                <fieldset>
                    <legend>Options</legend>
                    <div id="{{prefix}}-ThemeOptions"></div>
                </fieldset>
                <fieldset>
                    <legend>Info</legend>
                    <div id="{{prefix}}-ThemeInfo"></div>
                </fieldset>
            </td>
        </tr>
        </tbody>
    </table>
</div>
