<div id="{{prefix}}Container">

    <div id="theme-chooser-test">TEST: this is just a Test...</div>

    <div id="{{prefix}}tab-1">
        <table>
            <thead>
            <tr>
                <td>Theme</td>
                <td>Settings</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{#each themes}}
                        <div>
                            <label>
                                <input type="radio" name="theme"
                                       onchange="{{../plugin}}.switchTheme('{{@key}}')"
                                       {{#if_eq @key ../settings.theme}}checked{{/if_eq}}
                                />
                                <img style="width:100px" src="{{this.preview}}" alt="Preview">
                                {{this.name}}
                            </label>
                        </div>
                    {{/each}}
                </td>
                <td>
                    <fieldset>
                        <legend>Variants</legend>
                        <div id="{{prefix}}ThemeVariants"></div>
                    </fieldset>
                    <fieldset>
                        <legend>Options</legend>
                        <div id="{{prefix}}ThemeOptions"></div>
                    </fieldset>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
